<header class="header__global">
  <img class="header__logo" src="/img/logo.PNG" alt="Logo">
  <nav class="header__content">
    <ul class="header__list">
      <li class="header__item">
        <a href="" class="header__services">Quem somos</a>
      </li>
      <li class="header__item">
        <a href="" class="header__services">Serviços</a>
      </li>
      <li class="header__item">
        <a href="" class="header__services">Dúvidas</a>
      </li>
      <li class="header__item">
        <a href="" class="header__services">Fale conosco</a>
      </li>
    </ul>          
    <a href="" class="header__link">
      <i class="fa-solid fa-user header__icon"></i>
      Login
    </a>
  </nav>
</header>