<header class="header__global">
  <a href="/Presentation/Pages/main/main.html">
    <img class="header__logo" src="/img/logo.PNG" alt="Logo">
  </a>
  <input type="checkbox" id="bars" class="header__check">
  <label for="bars" class="header__label">
    <i class="fa-solid fa-bars header__bars"></i>
  </label>
  <nav class="header__content">
    <ul class="header__list">
      <li class="header__item">
        <a href="/Presentation/Pages/explain-us/explain-us.html" class="header__services">Quem somos</a>
      </li>
      <li class="header__item">
        <a href="" class="header__services">Serviços</a>
      </li>
      <li class="header__item">
        <a href="" class="header__services">Dúvidas</a>
      </li>
      <li class="header__item">
        <a href="/Presentation/Pages/contact-us/contact-us.html" class="header__services">Fale conosco</a>
      </li>
      <li>
        <a href="/Presentation/Pages/login/login.html" class="header__link">
          <i class="fa-solid fa-user header__icon"></i>
          Login
        </a>
      </li>
    </ul>          
    
  </nav>
</header>