@import '/Styles-global.css';

.header__global {
  background-color: var(--color--black);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 4rem;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  list-style: none;
}

.header__item {
  font-size: 2.5rem;
  margin-right: 2rem;
}

.header__services:visited,
.header__services:link {
  font-weight: bold;
  color: var(--color--yellow);
  position: relative;
  transition: .4s;
}

.header__services:hover,
.header__services:active {
  opacity: .7;
}

.header__services:hover::before {
  width: 100%;
  transition: .3s;
}

.header__services::before {
  content: '';
  display: block;
  width: 0;
  height: .1rem;
  background-color: var(--color--yellow);
  position: absolute;
  bottom: -5%;
}

.header__icon {
  background-color: var(--color--white);
  color: var(--color--black);
  padding: .4rem;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-right: .5rem;
}

.header__link:link,
.header__link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color--white);
  padding: 0 1rem;
}