@import '/Styles-global.css';

.signup__wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: var(--color--white--1);
}

.signup__content {
	width: 50rem;
	min-height: 50rem;
	box-shadow: 0rem 0rem .3rem var(--color--black);
	background-color: var(--color--white);
	border-radius: .3rem;
	align-self: center;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.signup__content .signup__box:nth-child(3) .signup__input,
.signup__content .signup__box:nth-child(4) .signup__input {
	padding-right: 5rem;
}

.signup__second {
	font-size: 2.5rem;
	color: var(--color--orange);
	margin-bottom: 3rem;
}

.signup__box {
	position: relative;
}

.signup__box:not(:nth-child(4)) {
	margin-bottom: 3rem;
	
}

.signup__input {
	width: 100%;	
	padding: 1rem;
	border: none;
	border-bottom: 2px solid var(--color--black);
	position: relative;
}

.signup__input::-webkit-input-placeholder {
	font-size: 1.6rem;
}

.signup__input:focus {
	outline: none;	
}

.signup__input:placeholder-shown + .signup__label{
	transform: translateY(2.5rem);
	opacity: 0;
	visibility: hidden;
}

.signup__label {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
	position: absolute;
	bottom: 100%;
	left: 2%;
	font-size: 1.6rem;
	z-index: 1;
	transition: all .3s;
}

.signup__recorver {
	color: var(--color--black);
	text-decoration: underline;
	font-size: 1.6rem;
	transition: all .2s;
}

.signup__recorver:hover {
	opacity: .6;
}

.signup__btn {
	width: 100%;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: .3rem;
	cursor: pointer;
	border: none;
	background-color: var(--color--orange);
	color: var(--color--white);
	font-size: 1.7rem;
	transition: all .3s;
}

.signup__btn:hover {
	opacity: .7;
}

.signup__container {
	width: 100%;	
}

.signup__errorWrap {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.signup__error {
	font-size: 1.7rem;
	color: var(--color--orange);
}

.signup__icon {
	font-size: 1.2rem;
}


.signup__show {
	position: absolute;
	right: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: .9rem 1rem;
	transition: all .3s;
}

.signup__show:hover {
	opacity: .6;
}

.signup__icon {
	font-size: 2rem;
}


@media only screen and (max-width: 32.8125em) {
	.signup__content {
		width: 100%;
	}
}