@import '/Styles-global.css';

body {
	background-color: var(--color--white--1);
}

.submit__wrap {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: red;
	border-radius: .3rem;
	background-color: var(--color--white);
	width: 600px;
	min-height: 35rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.submit__header {
	background-color: var(--color--blue-dark);
	color: var(--color--white);
	text-align: center;
	padding: 2rem;
	border-radius: .3rem;
	font-size: 2rem;
}

.submit__section {
	flex: 1;
	color: var(--color--blue-dark);
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.submit__title {
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.submit__paragh {
	font-size: 1.6rem;
	line-height: 3rem;
}

.submit__btn:link, 
.submit__btn:visited {
	align-self: center;
	background-color: var(--color--orange);
	color: var(--color--white);
	padding: 2rem;
	border-radius: 20rem;
	margin: 2rem 0;
	font-size: 2rem;
	transition: all .2s;
}

.submit__btn:hover, 
.submit__btn:active {
	opacity: .7;
}

.submit__footer {
	background-color: var(--color--blue-dark);	
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	padding: 1.5rem;
}

.submit__content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.submit__box {

}

.submit__info {
	color: var(--color--white);
	line-height: 1.8rem;
	font-size: 1.1rem;
}

.submit__img {
	align-self: center;
	width: 80%;
}

.submit__accompany {
	color: var(--color--white);
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.submit__network {
	text-align: center;
}

.submit__link:visited,
.submit__link:link {
	color: var(--color--white);
	transition: all .3s;
}	

.submit__link:hover,
.submit__link:active {
	color: var(--color--orange);
}	

.submit__link:not(:last-child) {
	margin-right: .5rem;
}

.submit__icon {
	font-size: 2rem;
}

@media only screen and (max-width: 40em) {
	.submit__wrap {
		width: 100%;
	}
}

@media only screen and (max-width: 31.25em) {
	.submit__content {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.submit__accompany {
		margin-top: 2rem;
	}
}