@import '/Styles-global.css';

.main__wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color--white--1);
}

.main__content {
  flex-grow: 1;
}

.main__plans {
  background-color: var(--color--black);
  color: var(--color--white);
  display: inline-block;
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: bold;
  padding: 1.3rem 5rem;
  border-radius: 1rem;
  position: relative;
}

.main__plans:hover {
  color: var(--color--white);
}

.main__plans::before {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 1rem;
  position: absolute;
  background-color: var(--color--black);
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s all;
}

.main__plans:hover::before {
  transform: scale(1.3);
  opacity: 0;
}

.main__information {
  background-color: var(--color--red);
  width: 100%;
  text-align: center;
  color: var(--color--white);
  letter-spacing: 2rem;
  font-weight: normal;
  font-size: 2rem;
  padding: .5rem;
}

.main__offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.main__first {
  max-width: 70rem;
  font-size: 3rem;
  text-align: center;
  align-self: center;
}

.main__box {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 27rem);
  column-gap: 4rem;
  flex-wrap: wrap;
}

.main__card {
  padding-bottom: 3rem;
  border-radius: 3rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: var(--color--white);
}
.main__separation {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main__wave {
  position: relative;
  height: 10rem;
  width: 100%;
}

.main__svg {
  border-radius: 3rem;
  position: absolute;
}

.main__second {
  color: var(--color--white);
  font-size: 2.4rem;
  position: absolute;
  transform: translate(-50%,-80%);
  left: 50%;
  top: 50%;
}

.main__third {
  z-index: 1;
  color: var(--color--white);
  text-align: center;
  font-size: 4.5rem;
  color: var(--color--gray--1);
  word-spacing: .3rem;
  font-weight: lighter;
}

.main__paragh {
 text-align: center;
 font-size: 1.4rem;
 margin-top: 1rem;
 align-self: center;
 color: var(--color--white);
 padding: .2rem;
 border-radius: .3rem;
}

.main__gray {
  background-color: var(--color--gray--1);
}

.main__red {
  background-color: var(--color--red);
}

.main__black {
  background-color: var(--color--black);
}

.main__yellow {
  background-color: var(--color--yellow);
}

.main__container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.main__list {
  margin-top: 1rem;
  width: 85%;
}

.main__item {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: .3rem;
  font-family: 'lato', sans-serif !important;
}

.main__item:nth-child(odd) {
  background-color: rgba(218, 218, 218, 0.37);
}

.main__check,
.main__close {
  font-size: 1.6rem;
  margin-right: .4rem;
}

.main__check {
  color: var(--color--green);
}

.main__close {
  color: var(--color--red);
}

.main__info {
  text-align: center;
  font-size: 1.6rem;
  align-items: center;
  display: flex;
  padding: 0 2rem;
  font-family: 'lato', sans-serif !important;
}

.main__btn {
  background-color: var(--color--red);
  border: none;
  margin-top: 2rem;
  color: var(--color--white);
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, .4);
  transition: all .3s;
  border-radius: .3rem;
  font-weight: 100;
}

.main__btn:hover {
  box-shadow: 0rem 1.5rem 1rem rgba(0, 0, 0, .4);
  transform: translateY(-.6rem);
  color: var(--color--white);
  background-color: var(--color--red-light);
}

.main__btn:active {
  outline: none;
  transform: translateY(.2rem);
}

@media only screen and (max-width: 78.75em){
  .main__box {
    grid-template-columns: repeat(2, 27rem);
  }

  .main__card {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 40.625em){
  .main__model {
    right: 0; 
  }
}

@media only screen and (max-width: 36em){
  .main__panel p {
    width: 100%;
  }

  .main__plans {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 32.8125em){
  .main__box {
    grid-template-columns: repeat(1, 27rem);
  }
}