@import '/Styles-global.css';

a {
  text-decoration: none !important;
}

.main__wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__content {
  flex-grow: 1;
}

.main__plans {
  background-color: var(--color--black);
  color: var(--color--white);
  display: inline-block;
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: bold;
  padding: 1.3rem 5rem;
  border-radius: 1rem;
  position: relative;
}

.main__plans:hover {
  color: var(--color--white);
}

.main__plans::before {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 1rem;
  position: absolute;
  background-color: var(--color--black);
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s all;
}

.main__plans:hover::before {
  transform: scale(1.3);
  opacity: 0;
}

.main__information {
  background-color: var(--color--red);
  width: 100%;
  text-align: center;
  color: var(--color--white);
  letter-spacing: 2rem;
  font-weight: normal;
  font-size: 2rem;
  padding: .5rem;
}


.main__offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.main__first {
  max-width: 70rem;
  font-size: 3rem;
  text-align: center;
  align-self: center;
}

.main__box {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 27rem);
  column-gap: 4rem;
  flex-wrap: wrap;
}

.main__card {
  height: 55rem;
  perspective: 100rem;
  -moz-perspective: 100rem;
  -webkit-perspective: 100rem;
  position: relative;
}

.main__card--front {
  background-color: var(--color--white);
}

.main__card--back {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.main__card:hover .main__card--front {
  transform: rotateY(-180deg);
}

.main__card:hover .main__card--back {
  transform: rotateY(0);
}

.main__card--back,
.main__card--front {
  box-shadow: 0rem 0rem 5rem var(--color--gray);
  transition: all .5s;
  top: 0;
  left: 0;
  border-radius: 3rem;
  position: absolute;
  width: 100%;
  min-height: 55rem;
  backface-visibility: hidden;
}

.main__wave {
  position: relative;
  height: 10rem;
  width: 100%;
}

.main__svg {
  border-radius: 3rem;
  position: absolute;
}

.main__second {
  color: var(--color--white);
  font-size: 2.4rem;
  position: absolute;
  transform: translate(-50%,-80%);
  left: 50%;
  top: 50%;
}

.main__container {
  padding: 2rem;
}

.main__third {
  text-align: center;
  font-size: 4.5rem;
  color: var(--color--gray--1);
  word-spacing: .3rem;
  font-weight: lighter;
}

.main__paragh {
 text-align: center;
 font-size: 1.4rem;
 margin-top: 1rem;
 color: var(--color--white);
 padding: .2rem;
 border-radius: .3rem;
}

.main__gray {
  background-color: var(--color--gray--1);
}

.main__red {
  background-color: var(--color--red);
}

.main__black {
  background-color: var(--color--black);
}

.main__yellow {
  background-color: var(--color--yellow);
}

.main__card--front {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main__container {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main__list {
  margin-top: 1rem;
  width: 85%;
  height: 100%;
}

.main__item {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: .3rem;
}

.main__item:nth-child(odd) {
  background-color: rgba(218, 218, 218, 0.37);
}

.main__check,
.main__close {
  font-size: 1.6rem;
  margin-right: .4rem;
}

.main__check {
  color: var(--color--green);
}

.main__close {
  color: var(--color--red);
}

.main__info {
  flex-grow: 1;
  text-align: center;
  color: var(--color--white);
  font-size: 1.7rem;
  align-items: center;
  display: flex;
}

.main__btn {
  background-color: var(--color--red);
  border: none;
  color: var(--color--white);
  padding: .7rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, .4);
  transition: all .3s;
  border-radius: .3rem;
}

.main__btn:hover {
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, .4);
  transform: translateY(-.6rem);
  background-color: var(--color--red-light);
}

.main__btn:active {
  outline: none;
  transform: translateY(.2rem);
}

.slick-prev  {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.slick-arrow {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.main__Referent {
  margin: auto;
  width: 80rem;
  overflow: hidden;
}

.main__frequent {
  overflow: hidden;
  max-width: 120rem;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.main__question {
  display: flex;
  margin: 5rem auto;
  width: 60rem;
  border: .1rem solid var(--color--gray);
  padding: 2rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
}

.main__question:not(:last-child) {
  margin-right: 3rem;
}

.main__ask {
  margin-left: 2rem;
  text-align: justify;
}

.main__break {
  
}

.main__asking {
  font-size: 1.5rem;
}

.main__name {
  font-size: 1.6rem;
}

.main__red--paragh {
  color: var(--color--red);
}

.main__green--paragh {
  color: var(--color--green);
}

.main__left,
.main__right {
  background-color: var(--color--black);
  width: 5rem !important;
  height: 5rem;
  margin: auto;
}

.main__feedback {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}


@media only screen and (max-width: 78.75em){
  .main__box {
    grid-template-columns: repeat(2, 27rem);
  }
}

@media only screen and (max-width: 49.375em){
  .main__Referent {
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 40.625em){
  .main__question {
    width: 80%;
  }

  
  .main__model {
    right: 0; 
  }
}

@media only screen and (max-width: 36em){
  .main__panel p {
    width: 100%;
  }

  .main__plans {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 32.8125em){
  .main__box {
    grid-template-columns: repeat(1, 27rem);
  }
}