<footer class="footer__global">
  <div class="footer__content">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="" class="footer__link">
          Inicio
          <span class="footer__span">Home Planos</span>
        </a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">
          Sobre nós
          <span class="footer__span">Informações Hagna</span>
        </a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">
          Dúvidas
          <span class="footer__span">Veja</span>
        </a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">
          Suporte
          <span class="footer__span">Fone</span>
        </a>
      </li>
    </ul>
    <img class="footer__logo" src="/img/logo.PNG" alt="logo--footer">
  </div>
  <div class="footer__aside">
    <p class="footer__paragh">
      Informações
      <span class="footer__span">Armazene os seus dados com confiança.</span>
    </p>
    <div>
      <a href="" class="footer__network">
        <i class="fa-brands fa-twitter footer__icon"></i>
      </a>
      <a href="" class="footer__network">
        <i class="fa-brands fa-instagram footer__icon"></i>
      </a>
      <a href="" class="footer__network">
        <i class="fa-brands fa-facebook-square footer__icon"></i>
      </a>
      <a href="" class="footer__network">
        <i class="fa-brands fa-whatsapp footer__icon"></i>
      </a>
    </div>
  </div>
</footer>
